default:
  image: node:22
  before_script:
    - npm ci
    - npm run build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - .npm/

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH

variables:
  KUBERNETES_MEMORY_REQUEST: 1536Mi
  KUBERNETES_MEMORY_LIMIT: 1536Mi

stages:
  - release

publish:
  stage: release

  script:
    - echo "$NPM_TOKEN"
    - npx semantic-release
  rules:
    - if: $CI_COMMIT_BRANCH
